<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/listPicker">ListPicker</a>
    <a href="/datePicker">DatePicker</a>
    <a href="/richlink">Rich Links</a>
    <a href="/apay">Apple Pay</a>
    <a href="/auth">Authentication</a>
    <a href="/catalog">Product Catalog</a>
    <a href="/ar">Augmented Reality</a>
    <!--<a href="/apayAuth">ABC: Rich Links / Apple Pay / Authentication</a>-->
</div>
<span class="side-menu-button" onclick="toggleNav()">&#9776;</span>