<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <% include ../partials/side-menu.ejs %>
    <div class="container">
        <div>
            <ul class="nav nav-pills nav-stacked">
            <li class="index-pill"><a href="/listPicker">Manual ListPicker</a></li>
            <li class="index-pill"><a href="/catalog">ListPickers</a></li>
            <li class="index-pill"><a href="/datePicker">DatePicker</a></li> 
            <!--<li class="index-pill"><a href="/apayAuth">ABC: Rich Links / Apple Pay / Authnetication</a></li>-->
            <li class="index-pill"><a href="/richlink">Rich Links</a></li>
            <li class="index-pill"><a href="/apay">Apple Pay</a></li>
            <li class="index-pill"><a href="/auth">Authentication</a></li>
            <li class="index-pill"><a href="/ar">Augmented Reality</a></li>
            </ul>
        </div>
      </div>
</body>
</html>